{% if es_config['cluster.name'] is undefined %}
    cluster.name: elasticsearch
{% else %}
    cluster.name: {{ es_config['cluster.name'] }}
{% endif %}
{% if es_config['node.name'] is undefined %}
    node.name: {{ inventory_hostname }}
{% endif %}
path.data: {{ var_datapath }}
path.logs: {{ var_logspath }}
network.host: {{ var_listen_address }}
http.port: {{ var_listen_port }}
transport.tcp.port: {{ var_signal_communication }}
bootstrap.system_call_filter: false
http.cors.allow-origin: "*"
http.cors.enabled: true
http.cors.allow-headers : X-Requested-With,X-Auth-Token,Content-Type,Content-Length,Authorization
http.cors.allow-credentials: true
