config = {
    _id : "{{ var_shard2_name }}",
    members : [
    {% for host in (groups['mongod'] | map('extract',hostvars,'ansible_ssh_host') | list) %}
      {%- if loop.index ==  1 -%}
        {_id : {{ loop.index }}, host : "{{ host }}:{{ var_shard2_port }}" , arbiterOnly: true },
      {%- else -%}
        {_id : {{ loop.index }}, host : "{{ host }}:{{ var_shard2_port }}" },
      {%- endif -%}
    {% endfor %}
]
};
rs.initiate(config);
printjson(rs.status());
