config = {
    _id : "{{ var_shard3_name }}",
    members : [
    {% for host in (groups['mongod'] | map('extract',hostvars,'ansible_ssh_host') | list) %}
      {%- if loop.index ==  2 -%}
      {_id : {{ loop.index }}, host : "{{ host }}:{{ var_shard3_port }}" , arbiterOnly: true },
      {%- else -%}
      {_id : {{ loop.index }}, host : "{{ host }}:{{ var_shard3_port }}" },
      {%- endif -%}
    {% endfor %}
]
};
rs.initiate(config);
printjson(rs.status());
