[Unit]
Description=Elasticsearch
Wants=network-online.target
After=network-online.target

[Service]
User=elastic
Group=elastic
Type=simple
Environment=JAVA_HOME=/usr/local/elasticsearch/jdk
Environment=ES_HOME=/usr/local/elasticsearch
Environment=ES_PATH_CONF=/usr/local/elasticsearch/config
Environment=ES_STARTUP_SLEEP_TIME=5
WorkingDirectory=/usr/local/elasticsearch
ExecStart=/usr/local/elasticsearch/bin/elasticsearch -p /usr/local/elasticsearch/elasticsearch.pid
StandardOutput=journal
StandardError=inherit
LimitNOFILE=65536
LimitNPROC=4096
LimitAS=infinity
LimitFSIZE=infinity
TimeoutStopSec=0
KillSignal=SIGTERM
KillMode=process
SendSIGKILL=no
SuccessExitStatus=143
Restart=no

[Install]
WantedBy=multi-user.target
